#left-menu{
    line-height:30px;
    background-color:#eeeeee;
    height:auto;
    width:200px;
    float:left;
    padding:5px; 
}
#main-text{
    background-color:#D6D6C2;
    width:700px;
    height: auto;
    float:left;
    padding:10px;
}
#whole-page{
    margin:auto;
    width:50%;
    height: auto;
}